@charset "UTF-8";
body {
  font-family: Arial, "ヒラギノ角ゴ", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
}

.inner {
  padding: 0 0.5em;
  max-width: 1200px;
  margin: 0 auto;
}

.page_ttl {
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #806b70;
}

/* utility --------------------------------------------------- */
/* ボタン */
.btn_link {
  position: relative;
  top: 0;
  color: #333;
  font-size: 0.7em;
  text-decoration: none;
  border: 0.2em solid #333;
  border-radius: 2em;
  background: rgb(179, 179, 179);
  display: inline-block;
  padding: 1em 3em;
  letter-spacing: 0.2em;
  box-shadow: 0 5px 0 #333;
  transition: 0.3s;
}

.btn_link:hover {
  box-shadow: none;
  top: 7px;
}

.btn_container {
  margin-top: 4em;
  padding: 0 3em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.input_imgBtn {
  border: 0.2em solid #fff;
  box-shadow: 0 0 8px rgb(201, 201, 201);
  width: 80%;
  border-radius: 0.5em;
  margin: 0 auto;
}
.input_imgBtn button {
  width: 100%;
  border: 0.2em solid #9eade0;
  border-radius: 0.5em;
  background: #e1e5f4;
  color: #8492be;
  font-size: 0.7em;
  padding: 1em;
}

.button_edit {
  padding: 0.5em;
}
.button_edit div {
  transform: rotate(90deg);
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #806b70;
  font-weight: 700;
}

.button_deleteBtn {
  font-size: 1.7em;
  padding: 0.05em 0.4em;
  color: #806b70;
}

/* 入力フォーム */
.recipeInput_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  border-bottom: 4px solid #9a989a;
  background: #cfdfe2;
  color: #777676;
  font-size: 1em;
  letter-spacing: 0.1em;
  border-radius: 1em 1em 0 0;
}

.recipeInput_contents {
  background: #fff;
  padding: 2em 1em 1.5em;
  border-radius: 0 0 0.5em 0.5em;
}

/* RecipeInputPage--------------------------------------------------- */
.recipeInput_main {
  font-size: 20px;
  width: 100%;
  background: #f9e6df;
  padding: 5em 0;
  background-image: repeating-linear-gradient(transparent, transparent 50px, purple 50px, purple 53px, transparent 53px, transparent 63px, purple 63px, purple 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.3) 116px, rgba(0, 0, 0, 0.3) 166px, rgba(255, 255, 255, 0.1) 166px, rgba(255, 255, 255, 0.1) 169px, rgba(0, 0, 0, 0.3) 169px, rgba(0, 0, 0, 0.3) 179px, rgba(255, 255, 255, 0.1) 179px, rgba(255, 255, 255, 0.1) 182px, rgba(0, 0, 0, 0.3) 182px, rgba(0, 0, 0, 0.3) 232px, transparent 232px), repeating-linear-gradient(270deg, transparent, transparent 50px, purple 50px, purple 53px, transparent 53px, transparent 63px, purple 63px, purple 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.3) 116px, rgba(0, 0, 0, 0.3) 166px, rgba(255, 255, 255, 0.1) 166px, rgba(255, 255, 255, 0.1) 169px, rgba(0, 0, 0, 0.3) 169px, rgba(0, 0, 0, 0.3) 179px, rgba(255, 255, 255, 0.1) 179px, rgba(255, 255, 255, 0.1) 182px, rgba(0, 0, 0, 0.3) 182px, rgba(0, 0, 0, 0.3) 232px, transparent 232px);
}
.recipeInput_main h2 {
  font-size: 1.3em;
  text-align: left;
}

.recipeInput_form {
  margin-top: 2em;
}
.recipeInput_form .button_additionBtn {
  margin-top: 1em;
}

.recipeInput_item + .recipeInput_item {
  margin-top: 2em;
}

.recipeInput_item {
  display: flex;
  align-items: center;
}

.recipeInput_ingredientInput {
  width: 100%;
}

.recipeInput_item.is-oneRow {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background: #f9f9f9;
  border-radius: 1em;
  padding: 2em 2em 1em;
}

.recipeInput_itemGrid {
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 100%;
}

.is-oneRow input {
  border: 0.1em solid #806b70;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.3em;
  padding: 1em;
  box-sizing: border-box;
}

.is-oneRow .input + .input {
  margin-top: 1em;
}

.is-oneRow input + input {
  margin-top: 0.5em;
}

.recipeInput_title {
  font-size: 0.7em;
  text-align: left;
  white-space: nowrap;
  margin-right: 2em;
  color: #806b70;
  margin-top: 0;
  font-weight: normal;
}

.recipeInput_processContents {
  width: 100%;
}

.recipeInput_img {
  aspect-ratio: 3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0.5em;
  margin: 0 auto;
  border: 0.1em solid #806b70;
  width: 70%;
  background: #e8dddc;
  color: #806b70;
}

.recipeInput_item.is-flow {
  align-items: start;
  background: #f9f9f9;
  padding: 2em 2em 1em;
  border-radius: 1em;
}
.recipeInput_item.is-flow .recipeInput_img {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0;
  outline: none;
}
.recipeInput_item.is-flow .textarea {
  padding: 1em;
  font-size: 18px;
  box-shadow: -3px -3px #f3f1f1, inset 2px 2px #f3f1f1;
  border: 0.1em solid #806b70;
  border-radius: 0.3em;
}

.recipeInput_imgAndText {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1.5em;
}

.recipeInput_imgAndText + .recipeInput_imgAndText {
  margin-top: 1em;
}

.removeButton {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  border: 0.2em solid #333;
  border-radius: 0.5em;
  background: #9a9898;
  width: 2em;
  height: 2em;
  font-size: 1em;
  color: #333;
  text-align: center;
}

/* RecipeListPage--------------------------------------------------- */
.recipeList_main {
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 4em 0;
  background: #f9e6df;
  background-image: linear-gradient(rgba(183, 135, 145, 0.6156862745) 1px, transparent 0), linear-gradient(90deg, rgba(183, 135, 145, 0.6156862745) 1px, transparent 0);
  background-size: 40px 40px;
}
.recipeList_main.is-dot {
  background: #f9e6df;
  background-image: radial-gradient(rgba(183, 135, 145, 0.6156862745) 10%, transparent 10%);
  background-size: 20px 20px;
}

.recipeList_contentsWrap {
  margin: 4em 1em;
}

.recipeList_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
}

.recipeList_item {
  width: clamp(250px, 30%, 400px);
  display: block;
}

.recipeList_itemTop {
  width: 40%;
  height: 10%;
  background: #806b70;
  border-left: 0.15em solid #806b70;
  border-right: 0.15em solid #806b70;
  position: relative;
  bottom: -0.15em;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 95% 100%, 5% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 95% 100%, 5% 100%);
}

.recipeList_itemTop::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: #f2a3bd;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 95% 100%, 5% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 95% 100%, 5% 100%);
}

.recipeList_itemImg {
  background: #f2a3bd;
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 0.2em;
  border: 0.15em solid #806b70;
  padding: 1em 0.5em;
  display: inline-block;
}

.recipeList_itemImg img {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.1em solid #806b70;
}

.recipeList_itemTtl {
  position: relative;
  color: #806b70;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.heart-icon {
  margin-right: 1em;
}

.recipeList_item input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin-right: 1em;
}

.recipeList_nonText {
  font-size: 1.7em;
  padding: 5em 0;
}

/* RecipeDetailPage--------------------------------------------------- */
.recipeDetail {
  font-size: 20px;
  padding: 2em 0;
}

/* RecipeDetail タブ */
.recipeDetail_tabs {
  position: relative;
  bottom: -0.1em;
  display: flex;
  margin: 0 auto;
  padding: 0 0.5em;
}

.recipeDetail_tab {
  padding: 0.5em 1.5em;
  font-size: 0.6em;
  border: 2px solid #806b70;
  border-bottom: none;
  border-radius: 0.4em 0.4em 0 0;
  background: #f9e6df;
  transform: skewX(-10deg);
  color: #806b70;
}
.recipeDetail_tab + .recipeDetail_tab {
  margin-left: 0.2em;
}
.recipeDetail_tab p {
  transform: skewX(10deg);
}

/* recipeDetail_body */
.recipeDetail_main {
  border-top: 2px solid #806b70;
  background-size: auto auto;
  background-color: #f9e6df;
  padding: 4em 0;
}
.recipeDetail_main h2 {
  font-size: 1.3em;
  text-align: left;
}

.recipe_wrap {
  border: 0.1em solid #806b70;
  border-radius: 1em;
  background: #fff;
}

.recipe_head {
  padding: 1em 1.5em;
  background: #B78791;
  border-radius: 1em 1em 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1em solid #806b70;
  color: #fff;
}

.recipeDetail_edit {
  display: flex;
  gap: 0.5em;
  justify-content: end;
  font-size: 0.6em;
}

.recipe_body {
  margin: 1em;
  padding: 4em 3em;
  background: #f4eeed;
  border: 0.1em solid #806b70;
  border-radius: 1em;
}

.recipeDetail_inputItem + .recipeDetail_inputItem {
  margin-top: 4em;
}

.recipeDetail_title {
  width: 7em;
  text-align: left;
  color: #806b70;
}

.recipeDetail_detailsContainer {
  margin-top: 4em;
}

.recipeDetail_detailsContainer + .recipeDetail_detailsContainer {
  margin-top: 2em;
}

.recipeDetail_mainImg {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}
.recipeDetail_mainImg img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2em;
}

.recipeDetail_detailsText {
  font-size: 0.9em;
  width: 100%;
  overflow-wrap: break-word;
  text-align: left;
  margin-top: 1em;
  color: #5f5866;
  line-height: 1.4;
}

.recipeDetail_ingredients {
  text-align: left;
  margin-top: 1em;
}
.recipeDetail_ingredients p {
  color: #5f5866;
  font-size: 1em;
}

.recipeDetail_ingredients p + p {
  margin-top: 0.5em;
}

.recipeInput_ingredient .input + .input {
  margin-top: 1em;
}

/* process */
.process_items {
  display: flex;
  flex-direction: row;
  row-gap: 1.5em;
  -moz-column-gap: 1em;
       column-gap: 1em;
  flex-wrap: wrap;
  margin-top: 3em;
}

.process_item {
  position: relative;
  border: 0.1em solid #806b70;
  border-radius: 1em;
  padding: 0.5em;
  background: #fff;
  min-width: 17em;
  width: 25%;
}
.process_item p {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5;
  padding: 1.5em 0 1em;
  color: #806b70;
}

.process_itemNumber {
  position: absolute;
  top: -1.5em;
  left: 0;
  color: #806b70;
}

.process_itemImg {
  padding-bottom: 0.5em;
  border-bottom: 0.05em solid #c1abb0;
  width: 100%;
}

.process_item img {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  object-fit: cover;
}

/* --------------------------------------------------- Chat */
.chat_messages {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-size: 0.8em;
}/*# sourceMappingURL=App.css.map */